<!DOCTYPE html>
<html>
    <head>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <style>
          #loginDiv,#registerDiv {
            display:none;
          }
        </style>
        <script>
            function login()
            {
              $.ajax({
                        type: "POST",
                        url: "http://127.0.0.1:9000/loginUser",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                        "username":$("#username").val(),
                        "password":$("#password").val()
                        }),
                        success : function(){
                          console.log("Success");
                        }
                      });
            }
            function register()
            {
              $.ajax({
                        type: "POST",
                        url: "http://127.0.0.1:9000/createUser",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                        "username":$("#username").val(),
                        "password":$("#password").val(),
                        "email":$("#email").val(),
                        "firstName":$("#firstname").val(),
                        "lastName":$("#lastname").val(),
                        "superPower":$("#superpower").val(),
                        }),
                        statusCode : {
                            200: function(response){
                              console.log("Success");
                            },
                            404: function(response){

                            },
                            400: function(response){

                            },
                        }
                      });
            }
            function verify()
            {
                $.ajax
                    ({
                        type: "GET",
                        url: 'http://127.0.0.1:9000/checkUser/'+$("#username").val(),
                        statusCode : {
                            200: function(response){
                                $("#loginDiv").show();
                                $("#registerDiv").hide();
                                $("#message").val("You've already registered, login");
                                $("#btn").attr("onclick","login()");
                            },
                            404: function(response){
                                $("#registerDiv").show();
                                $("#loginDiv").show();
                                $("#message").val("Register");
                                $("#btn").attr("onclick","register()");
                            },
                            400: function(response){
                                console.log("Something went wrong :( ");
                            },
                        }
                    });
            }
        </script>
        <script>
            function init()
            {
                window.addEventListener("message",recvCreds,false);
                ifrWin = document.getElementById("ifr").contentWindow;
                ifrWin.postMessage("Get cookie","http://localhost:9001");
            }
            function recvCreds(event)
            {
                cookie = event.data;
                alert(cookie);

                if(cookie.length!=0)
                {
                    //TODO: Allow for multiple cookies
                    cookie = cookie.split("=")[1];
                    $.ajax({
                        type: "POST",
                        url: "http://127.0.0.1:9000/verifyToken",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                        "cookie":cookie,
                        }),
                        statusCode : {
                            200: function(response){
                              window.location.href = "http://127.0.0.1:9000/";
                            },
                            404: function(response){
                              console.log("400");
                            },
                            401: function(response){
                                var result = confirm("Do you have what it takes to be part of the X-men");
                                if(result)
                                {
                                    becomeAvenger();
                                }
                            },
                        }
                      });
                }
            }
            function becomeAvenger()
            {
                $.ajax({
                        type: "POST",
                        url: "http://127.0.0.1:9000/becomeBoth",
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                        "cookie":cookie,
                        }),
                        statusCode : {
                            200: function(response){
                              window.location.href = "http://127.0.0.1:9000/";
                            },
                            404: function(response){
                              console.log("400");
                            },
                            401: function(response){
                            },
                        }
                      });
            }
        </script>
    </head>
    <body onload="init()">
        <iframe id="ifr" src="http://localhost:9001/dummyPage"></iframe>
        <p id="message">Enter username</p>
        <br/>
        USERNAME : <input type="text" id="username"></input>
        <div id="loginDiv">
            PASSWORD : <input type="password" id="password"></input>
        </div>
        <div id="registerDiv">
          First Name : <input type="text" id="firstname"></input>
          Last Name : <input type="text" id="lastname"></input>
          Email : <input type="email" id="email"></input>
          Superpower : <input type="text" id="superpower"></input>
        </div>
        <br/>
        <button id="btn" onclick="verify()">Go</button>
    </body>
</html>
