<!DOCTYPE html>
<html>
    <head>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script>
            function init()
            {
                fetchToDos();
                fetchBios();
            }

            function fetchToDos()
            {
                $.ajax({
                        type: "GET",
                        url: "http://localhost:9001/fetchToDos",
                        success : function(data){
                          toDos = JSON.parse(data);

                        }
                      });
            }
            function fetchBios()
            {
                $.ajax({
                        type: "GET",
                        url: "http://localhost:9001/getAllBio",
                        success : function(data){
                          toDos = JSON.parse(data);
                          console.log(toDos);
                        }
                      });
            }
        </script>
    </head>
    <body onload="init()">
        Hello from home
        <div id="toDos">

        </div>
        <form method="post" action="/logoutUser">
            <input type="submit" value="Logout"/>
        </form>

    </body>
</html>